main {
   min-height: 80vh;
}
.navbar-collapse {
   flex-grow: unset;
}

a {
   text-decoration: none;
}

.rating span {
   margin: 0.1rem;
}

h4 {
   padding: 1rem 0 0;
}

.pro-img {
   height: 17rem;
   object-fit: cover;
}

.pro-title {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
